# Copie este arquivo para .env e preencha os valores

# Django
SECRET_KEY=sua-chave-secreta-django-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,10.1.1.27

# Configurações de Combustível (padrões)
FUEL_CONSUMPTION_KM_L=10.0
FUEL_PRICE_PER_LITER=6.50
